[Desktop Entry]
Version=0.17.6
Name=Beerchain Core
Comment=Connect to the Beerchain P2P Network
Exec=beerchain-qt %u
Terminal=false
Type=Application
Icon=beerchain128
MimeType=x-scheme-handler/beerchain;
Categories=Network;
StartupWMClass=Beerchain-qt
Name[en_US]=beerchain-qt
