[Desktop Entry]
Version=0.17.6
Name=Beerchain Core Testnet
Comment=Connect to the Beerchain P2P Network Testnet
Exec=beerchain-qt -testnet %u
Terminal=false
Type=Application
Icon=beerchaintestnet128
MimeType=x-scheme-handler/beerchain;
Categories=Network;
StartupWMClass=Beerchain-qt-testnet
Name[en_US]=beerchain-qt-testnet
